<!DOCTYPE html>
<html>
<head>  
	<meta charset="utf-8">
	<title></title>
</head>
<body>
     {include file='../public/header.html'}
	{include file='../public/sidebar.html'}
	 <form action="index.php?p=admin&c=Article&a=index" method="post">
 	<table align="center"  border="1" cellpadding="0" cellspacing="0" width="500" height="250">
 	
 		<tr height="20">
 			<td colspan="3" align="center"><h4>搜索</h4></td>
 		</tr>

 		<tr>
 			<td><label>标题</label></td>
 			<td colspan="2" align="center"><input type="text" name="a_title" value="{if isset($cond['a_title'])} {$cond['a_title']}{/if}"></td>
 		</tr>

 		<tr >
 			<td><label>分类</label></td>
 			<td colspan="2" align="center"><select name="c_id">
 				    <option value="0">任意</option>
					{foreach $smarty.session.categories as $cat}
					<option value="{$cat.id}" {if isset($cond['c_id']) && $cond['c_id'] eq $cat['id']}selected="selected" {/if}>
					    {str_repeat('--',$cat.level)}{$cat.c_name}
					</option>
					{/foreach}
 			   </select>
 			</td>
 		</tr>

 		<tr>
 			<td><label>状态</label></td>
 			<td colspan="2" align="center"><select name="a_status">
 				<option value=""> 任意</option>
 				<option value="1" {if isset($cond['a_status'])&& $cond['a_status'] eq 1} selected="selected"{/if}> 草稿</option>
 				<option value="2" {if isset($cond['a_status'])&& $cond['a_status'] eq 2} selected="selected"{/if}> 公开</option>
 				<option value="3" {if isset($cond['a_status'])&& $cond['a_status'] eq 3} selected="selected"{/if}> 隐藏</option>
 			   </select>
			</td>
 		</tr>


 		<tr>
 			<td><label>置顶</label></td>
 			<td align="center">
 				<input type="radio" name="a_toped" value="" checked>不限
 				<input type="radio" name="a_toped" value="1" {if isset($cond['a_toped'])&& $cond['a_toped'] eq 1} checked="checked"{/if}>置顶
 			    <input type="radio" name="a_toped" value="2" {if isset($cond['a_toped'])&& $cond['a_toped'] eq 2} checked="checked"{/if}>不置顶
 			</td>
 		</tr>

 		<tr>
 			<td colspan="3" align="center"><input type="submit" value="提交"></td>
 		</tr>
      	</table>
 </form>


        <table align="center"  border="1" cellpadding="0" cellspacing="0" width="700" height="100">
        	<tr>
        		<td colspan="8">博文列表</td>
        	</tr>

        	<tr>
        		<td>#ID</td>
        		<td>作者</td>
        		<td>分类</td>
        		<td>标题</td>
        		<td>发布日期</td>
        		<td>评论数量</td>
        		<td>状态</td>
        		<td>操作</td>
        	</tr>
           {foreach $articles as $art}
        	<tr>
        		<td><!-- {$art.id}  -->{$art@key+1}</td>
        		<td>{$art.a_author}</td>
        		<td>{$smarty.session.categories[$art.c_id].c_name}</td>
        		<td>{$art.a_title}</td>
        		<td>{date('Y:m:d H:i:s',$art.a_time)}</td>
        		<td>12</td>
        		<td>{if $art.a_status eq 1}草稿{elseif $art.a_status eq 2}公开{else}隐藏{/if}</td>

        		<td><a href="index.php?p=admin&c=Article&a=delete&id={$art.id}" onClick="return confirm('确认要删除文章：{$art.a_title}?')">删除</a> 
                    
        			{if $art.u_id eq $smarty.session.user.id}
        		    <a href="index.php?p=admin&c=Article&a=edit&id={$art.id}">{if $uesr['u_is_admin']=1}编辑{/if}</a>
        		    {/if}
        		</td>
        			
        	</tr>
        	{/foreach}
        </table>
      <div align="center">{$pagestr}</div>
     
        
</body>
</html>