<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
       {include file='../public/header.html'}
	   {include file='../public/sidebar.html'}

        <table align="center"  border="1" cellpadding="0" cellspacing="0" width="700" height="100">
        	<tr>
        		<td colspan="8">用户列表</td>
        	</tr>

        	<tr>
        		<td>#ID</td>
        		<td>用户名</td>
        		<td>角色</td>
        		<td align="center">注册时间</td>
        		<td>操作</td>
        	</tr>

        	{foreach $users as $user}
        	<tr>
        		<td> <!-- $user@key+1 --> {$user.id}</td>
        		<td>{$user['u_username']}</td>
        		<td>
        		{if  $user['u_is_admin']}管理员{else}普通用户{/if}
        	    </td>
        		<td align="center">{date('Y年m月d日 H:i:s',$user['u_reg_time'])}</td>

        		<td><a href="index.php?p=admin&c=User&a=delete&id={$user.id}" onClick="return confirm('确认要删除用户:{$user.u_username}吗？')">{if !$user.u_is_admin}删除{/if}</a>  

                <a href="index.php?p=admin&c=user&a=edit&id={$user.id}">
                {if !$user.u_is_admin} 编辑{/if}
             
                </a></td>
        	</tr>
        	{/foreach}
        </table>

       <!--  -分页显示 -->
        <div align="center">{$pagestr}</div>
</body>
</html>